.medida{
  width: 150px;
  height: 150px;
  border: blue 2px solid;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.rojo{
  background: red;
  color: white;
}

.verde{
  background: green;
  color: white;
}

.azul{
  background: blue;
  color: white;
}

.amar{
  background: yellow;
  color: black;
}

.naranja{
  background: orange;
  color: black;
}

.colorX{
  background: yellowgreen;
  color: black;
}

.rojoRGB{
  background: rgb(100%, 0%, 0%);
  color: rgb(100%, 100%, 100%);
}
.verdeRGB{
  background: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
}

.azulRGB{
  background: rgb(0%, 0%, 100%);
  color:rgb(100%, 100%, 100%)
}

.naranjaRGB{
  background: rgb(255, 155, 0);
  color: rgb(255, 255, 255);
}

.alfa1{
  background: rgba(0, 0, 255, 0.5);
  color: white;
}

.alfa2{
  background: rgba(255, 150, 0, 0.5);
  color: black;
  position: relative;
  top: -100px;
  left: 100px;
}

.rojoHexa{
  background: #F00;
  color: #FFF;
}

.verdeHexa{
  background: #00FF00;
  color: #000000;
}

.azulHexa{
  background: #0000FF;
  color: #FFFFFF;
}

.naranjaHexa{
  background: #FF9900;
  color: #000000;
}

.rojoHSL{
  background: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.verdeHSL{
  background: hsl(118, 100%, 50%);
  color: hsl(0, 0%, 0%);
}

.azulHSL{
  background: hsl(226, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.naranjaHSL{
  background: hsl(24, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.alfa1H{
  background: hsla(250, 100%, 50%, .5);
  color: white;
}

.alfa2H{
  background: rgba(255, 123, 0, 0.5);
  color: black;
  position: relative;
  top: -100px;
  left: 100px;
}

.tabla{
  width: 100%;
  border: black 1px solid;
}

.th1{
  background: hsl(0, 100%, 50%);
}
.th2{
  background: hsl(0, 90%, 50%);
}
.th3{
  background: hsl(0, 80%, 50%);
}
.th4{
  background: hsl(0, 70%, 50%);
}
.th5{
  background: hsl(0, 60%, 50%);
}
.th6{
  background: hsl(0, 50%, 50%);
}
.th7{
  background: hsl(0, 40%, 50%);
}
.th8{
  background: hsl(0, 30%, 50%);
}
.th9{
  background: hsl(0, 20%, 50%);
}
.th10{
  background: hsl(0, 10%, 50%);
}
.th11{
  background: hsl(0, 0%, 50%);
}

.th21{
 background: hsl(0, 100%, 100%);
}
.th22{
  background: hsl(0, 100%, 90%);
}
.th23{
  background: hsl(0, 100%, 80%);
 }
 .th24{
  background: hsl(0, 100%, 70%);
 }
 .th25{
  background: hsl(0, 100%, 60%);
 }
 .th26{
  background: hsl(0, 100%, 50%);
 }
 .th27{
  background: hsl(0, 100%, 40%);
  color: hsl(0, 0%, 100%);
 }
 .th28{
  background: hsl(0, 100%, 30%);
  color: hsl(0, 0%, 100%);
 }
 .th29{
  background: hsl(0, 100%, 20%);
  color: hsl(0, 0%, 100%);
 }
 .th210{
  background: hsl(0, 100%, 10%);
  color: hsl(0, 0%, 100%);
 }
 .th211{
  background: hsl(0, 100%, 0%);
  color: hsl(0, 0%, 100%);
 }

 .titulo{
  text-align: center;
  margin: 10px;
 }