    body {
      background-color: beige;
    }

    p {
      font-size: 20px;
      background-color: black;
      text-align: right;
      color: white;
    }

    ul {
      color: blue;
      font-size: 25PX;
    }

    span {
      color: red;
    }

    div {
      color: blue;
      font-size: 25px;
      font-style: italic;
      text-transform: capitalize;
      text-decoration: underline;
      border-style: solid;
      width: 300px;
      height: 100px;
      overflow: scroll;
    }